<nav>
  <p
    class="h1"
    routerLink="/home"
    style="
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #ffcb05;
      text-shadow: 3px 2px 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb,
        -1px 0 0 #2a75bb;
      letter-spacing: 1px;
    "
  >
    {{ pageTitle }}
  </p>

  <div style="display: flex; padding: 5px">
    <div style="margin: auto">
      <button
        (click)="removePokemon(selectedPokemons[0].id)"
        *ngIf="selectedPokemons.length > 0"
        style="margin-right: 1rem"
      >
        {{ selectedPokemons[0].name }}
      </button>
      <i
        (click)="goToDetails()"
        *ngIf="selectedPokemons.length > 0"
        class="pi pi-arrow-right-arrow-left"
        style="font-size: 20px"
      ></i>
      <button
        (click)="removePokemon(selectedPokemons[1].id)"
        *ngIf="selectedPokemons.length > 1"
        style="margin-left: 1rem"
      >
        {{ selectedPokemons[1].name }}
      </button>
    </div>
  </div>
</nav>
