<nav>
  <p
    class="h1"
    routerLink="/home"
    style="
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #ffcb05;
      text-shadow: 3px 2px 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb,
        -1px 0 0 #2a75bb;
      letter-spacing: 1px;
    "
  >
    {{ pageTitle }}
  </p>

  <div style="display: flex;">
    <button (click)="goToDetails()" [disabled]="isButtonDisabled" class="p-button-raised p-button-secondary"
            label="Compare Pokemons!"
            pButton pRipple
            style="width: 7rem;" type="button"></button>
    <div style="margin: auto;">
      <button (click)="removePokemon(selectedPokemons[0].id)" *ngIf="selectedPokemons.length > 0"
              class="p-button-raised p-button-secondary" pButton
              pRipple style="margin-right: 1rem" type="button">
        <i class="pi pi-times"> </i> &nbsp; {{ selectedPokemons[0].name | uppercase}}
      </button>
      <i
        *ngIf="selectedPokemons.length > 0"
        class="pi pi-arrow-right-arrow-left"
        style="font-size: 20px"
      ></i>

      <button (click)="removePokemon(selectedPokemons[1].id)" *ngIf="selectedPokemons.length > 1"
              class="p-button-raised p-button-secondary" pButton
              pRipple style="margin-left: 1rem" type="button">
        <i class="pi pi-times"></i> &nbsp;
        {{ selectedPokemons[1].name | uppercase}}</button>
    </div>
  </div>
</nav>
