<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="caption">
    <div style="text-align: center">Pokemon Compare</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th><img src="{{ firstPokemonDetails.img }}" /></th>
      <th><img src="{{ secondPokemonDetails.img }}" /></th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-name'">{{ firstPokemonDetails.name }}</span>
      </th>
      <th>
        <span [className]="'pokemon-name'">{{
          secondPokemonDetails.name
        }}</span>
      </th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-hp'">{{ firstPokemonDetails.hp }} HP </span>
      </th>
      <th>
        <span [className]="'pokemon-hp'"
          >{{ secondPokemonDetails.hp }} HP
        </span>
      </th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-atk'"
          >{{ firstPokemonDetails.atk }} ATK</span
        >
      </th>
      <th>
        <span [className]="'pokemon-atk'"
          >{{ secondPokemonDetails.atk }} ATK</span
        >
      </th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-def'"
          >{{ firstPokemonDetails.def }} DEF</span
        >
      </th>
      <th>
        <span [className]="'pokemon-def'"
          >{{ secondPokemonDetails.def }} DEF</span
        >
      </th>
    </tr>
    <tr>
      <th>
        TYPE:
        <span
          [colorType]="'firstType'"
          style="color: white; padding: 5px; text-align: center"
        >
          {{ firstPokemonDetails.type }}
        </span>
      </th>
      <th>
        TYPE:
        <span
          [colorType]="'secondType'"
          style="color: white; padding: 5px; text-align: center"
          >{{ secondPokemonDetails.type }}</span
        >
      </th>
    </tr>
    <tr>
      <th>
        ABILITIES:
        <span
          *ngFor="let item of firstPokemonDetails.abilities"
          [className]="'pokemon-abilities'"
        >
          {{ item?.ability?.name }}
        </span>
      </th>
      <th>
        ABILITIES:
        <span
          *ngFor="let item of secondPokemonDetails.abilities"
          [className]="'pokemon-abilities'"
        >
          {{ item?.ability?.name }}
        </span>
      </th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-weight'">
          WEIGHT: {{ firstPokemonDetails.weight }} lb</span
        >
      </th>
      <th>
        <span [className]="'pokemon-weight'">
          WEIGHT: {{ secondPokemonDetails.weight }} lb
        </span>
      </th>
    </tr>
    <tr>
      <th>
        <span [className]="'pokemon-xp'">
          XP: {{ firstPokemonDetails.xp }}
        </span>
      </th>
      <th>
        <span [className]="'pokemon-xp'"
          >XP: {{ secondPokemonDetails.xp }}
        </span>
      </th>
    </tr>
  </ng-template>
</p-table>
