<div style="border: 1px solid black; padding: 2rem">
  <h4 class="text-center">Pokemon Details</h4>
  <img
    alt="Responsive image"
    class="rounded mx-auto d-block"
    src="{{ pokemonDetails.img }}"
  />
  <div class="row" style="margin-top: 2rem">
    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>ID</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.id }}"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>NAME</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.name }}"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>TYPE</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.type }}"
        />
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem">
    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>HP</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.hp }}"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>ATTACK</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.atk }}"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>DEFENSE</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.def }}"
        />
      </div>
    </div>
  </div>
  <div class="row" style="margin: 2rem">
    <div class="col-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>ABILITIES</strong></span>
        <input
          *ngFor="let item of pokemonDetails.abilities"
          disabled
          pInputText
          type="text"
          value="{{ item?.ability?.name }}"
        />
      </div>
    </div>
  </div>
  <div class="row" style="margin: 2rem">
    <div class="col-md-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>WEIGHT</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.weight }}"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><strong>BASE EXP</strong></span>
        <input
          disabled
          pInputText
          type="text"
          value="{{ pokemonDetails.xp }}"
        />
      </div>
    </div>
  </div>
</div>
